@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
  color: white;
}

section#gallery .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#gallery .swiper-wrapper .swiper-slide-active .card-filter {
  opacity: 0;
}

section#gallery .slider-button {
  z-index: 2;
}

.active-pagination-item {
  position: relative;
  font-weight: 500;
  padding-left: 16px;
}

.active-pagination-item::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%) rotate(45deg);
  background-color: #fff;
}

.pagination-item {
  transition: opacity 300ms;
  cursor: pointer;
  opacity: 0.5;
}
.pagination-item:hover,
.pagination-item:focus {
  opacity: 1;
}

.offer-main-swiper .swiper-pagination {
  position: absolute;
  top: 134px;
  left: 195px;
  bottom: auto;
  width: 116px;
  display: inline-block;
  color: white;
  font-size: 43px;
  font-weight: 100;
  line-height: 1.16;
}

@media screen and (min-width: 768px) {
  .offer-main-swiper .swiper-pagination {
    font-size: 67px;
    top: 74px;
    left: 517px;
  }
}

@media screen and (min-width: 1280px) {
  .offer-main-swiper .swiper-pagination {
    font-size: 98px;
    top: 110px;
    left: 724px;
  }
}

.offer-main-swiper .swiper-pagination .swiper-pagination-total {
  color: #ffffff33;
}

.input-placeholder {
  @apply placeholder:text-[13px] xl:placeholder:text-[20px] placeholder:font-extralight 
        placeholder:leading-[1.85] xl:placeholder:leading-[1.2];
}

.input-style {
  @apply block text-[13px] xl:text-[20px] font-extralight pl-[8px] leading-[1.84]  xl:leading-[1.2] xl:py-[2px] bg-[#FFFFFF0D] 
  focus-visible:outline-none border-none;
}

.input-label {
  @apply text-[12px] font-extralight tracking-[2.4px] leading-[2.0] mb-[4px];
}
.checkbox-label {
  @apply text-[12px] font-extralight  leading-[1.83] xl:leading-[2];
}

.hover-effect {
  @apply relative after:content-[''] after:absolute  after:h-[1px] after:w-full
   after:bg-white after:left-0 after:bottom-0 after:scale-0 after:origin-right hover:after:origin-left hover:after:scale-100
   after:transition-transform after:duration-500;
}

.focus-effect {
  @apply relative after:content-[''] after:absolute  after:h-[1px] after:w-full
   after:bg-white after:left-0 after:bottom-0 after:scale-0 after:origin-right focus:after:origin-left focus:after:scale-100
   after:transition-transform after:duration-500;
}
