@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper .swiper-slide-active .card-filter {
  opacity: 0;
}

.slider-button {
  z-index: 2;
}
